<!-- <mat-toolbar color="primary">
  <h1>
    Toolbar Example
  </h1>
  <button mat-button routerLink="/home">Home</button>
</mat-toolbar> -->

<!-- <mat-tab-group>
  <mat-tab label="First">
    <ng-template matTabContent>
      The First Content
    </ng-template>
  </mat-tab>
  <mat-tab label="Second">
    <ng-template matTabContent>
      The Second Content
    </ng-template>
  </mat-tab>
</mat-tab-group> -->

<mat-tab-group selectedIndex="0" (selectedTabChange)="changeTab($event)" mat-stretch-tabs>
  
  <mat-tab flex layout="column" layout-fill class="md-accent" style="background-color:red">
    <ng-template mat-tab-label>
      <span>User</span>
    </ng-template>
      <app-search></app-search>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>Seva billing</span>
    </ng-template>
    <app-home  *ngIf="tabIndex === 1"></app-home>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>Reports</span>
    </ng-template>
    <app-home  *ngIf="tabIndex === 2"></app-home>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>Events</span>
    </ng-template>
    <app-home  *ngIf="tabIndex === 3"></app-home>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>Expense</span>
    </ng-template>
    <app-expense  *ngIf="tabIndex === 4"></app-expense>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>Room Booking</span>
    </ng-template>
    <app-home  *ngIf="tabIndex === 5"></app-home>
  </mat-tab>
</mat-tab-group>
<!-- <router-outlet></router-outlet> -->