<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
  <!-- fxLayoutAlign="center"  fxLayoutWrap fxLayoutGap="0.5%"-->
  <div fxFlex="30%" class="calendar">
    <!-- <mat-card> -->
    <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
    <!-- </mat-card> -->

    <div fxLayout="row" style="width: 100%;">
      <mat-card style="width: 100%;">
        <mat-card-header class="matheader">
          <mat-card-title class="cardtitle">{{selectedDate}} 
            <!-- <span style="margin-left: 5%;">Wednesday</span> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <mat-form-field> -->
            <div fxLayout="row" fxLayoutGap="20px" class="data">
              <div fxFlex="30%">
                <mat-label class="label">Samvathsara</mat-label><br>
                <mat-label class="label">Ruthu</mat-label><br>
                <mat-label class="label">Tithi</mat-label><br>
                <mat-label class="label">Shradha Tithi</mat-label>
              </div>
              <div fxFlex="10%">
                <mat-label class="label">:</mat-label><br>
                <mat-label class="label">:</mat-label><br>
                <mat-label class="label">:</mat-label><br>
                <mat-label class="label">:</mat-label><br>
              </div>
              <div fxFlex="30%">
                <mat-label class="lbl">Sharvari</mat-label><br>
                <mat-label class="lbl">Vasantha</mat-label><br>
                <mat-label class="lbl">Trayodashi</mat-label><br>
                <mat-label class="lbl">2,12</mat-label>
              </div>
            </div>
          <br>
          
          <!-- </mat-form-field> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex="20%" class="devotee">
    <mat-form-field class="example-full-width" style="margin-top: 4%;">
      <mat-label>Phone</mat-label>
      <input matInput class="inputs" color="primary" [(ngModel)]="Phone">
    </mat-form-field>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon color="primary">search</mat-icon>
    </button>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <div style="text-align: center;"><input matInput class="inputs" [(ngModel)]="email"></div>
    </mat-form-field>

    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput class="inputs" [(ngModel)]="name">
    </mat-form-field>

    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Gotra</mat-label>
      <input matInput class="inputs" [(ngModel)]="gotra">
    </mat-form-field>

    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Nakshathra</mat-label>
      <input matInput class="inputs" [(ngModel)]="nakshatra">
    </mat-form-field>

    <br>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex="25%">
        <button mat-stroked-button class="clear-button" color="warn">Clear</button>
      </div>
      <div fxLayout="column" fxFlex="25%">
        <button mat-stroked-button class="next-button" color="primary">Next</button>
      </div>
    </div>
  </div>


  <div fxFlex="47%" class="seva">
    <div class="dropdown">
      <mat-form-field style="margin-left: 2%;">
        <!-- <mat-label>Cars</mat-label> -->
        <select matNativeControl required>
          <option value="">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </mat-form-field>
    </div>

    <!-- <div> -->
      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    <!-- </div>f -->
  </div>
</div>


<!-- <mat-grid-list cols="2">
<mat-grid-tile rowspan="2"> -->
<!-- <mat-card> -->
<!-- <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar> -->
<!-- </mat-card> -->
<!-- </mat-grid-tile>
<mat-grid-tile > -->
<!-- 2
</mat-grid-tile>
<mat-grid-tile>
  3
</mat-grid-tile>
</mat-grid-list> -->